
.mat-form-field {
    width: 30%; 
  }
  
  .mat-chip {
    margin: 4px; 
  }
  
  input.mat-input-element {
    width: 30%; 
  }
  
  .mat-chip-list {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .mat-chip-remove mat-icon {
    cursor: pointer; 
    color: #ff3333; 
  }
  
  .mat-chip-remove mat-icon:hover {
    color: #cc0000; 
  }
  