<!-- src/app/app.component.html -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <!-- <H2>FIRST ASSIGNEMNT</H2> -->
 </div>
<!-- <app-change-detect></app-change-detect> -->
<br>
<div>
 <!-- <H2>SECOND ASSIGNEMNT</H2> -->
</div>
<!-- <app-live-news></app-live-news> -->
<br>
<!-- <h2>FIFTH ASSIGNEMNT</h2> -->
<!-- <app-add-customer-by-tpl-frm></app-add-customer-by-tpl-frm> -->


<!-- <h2>SIXTH ASSIGNEMNT</h2> -->
<!-- <app-add-customer-by-rct-frm></app-add-customer-by-rct-frm> -->

<!-- <h2>SEVENTH ASSIGNEMNT</h2> -->
<!-- <app-registration-form></app-registration-form> -->

<!-- <h2>EIGHTH ASSIGNEMNT</h2> -->
<!-- <app-user-listing></app-user-listing> -->

<!-- <app-edit-detail></app-edit-detail> -->
<!-- <app-user-detail></app-user-detail> -->

<!-- <H2>8,9 ASSIGNEMNT</H2> -->
<!-- <router-outlet></router-outlet> -->

<!-- <H2> 12 ASSIGNEMNT</H2> -->
 <!-- <app-calculator></app-calculator>  -->

<!-- <H2> 11 ASSIGNEMNT</H2> -->
<!-- <app-my-demo-comp></app-my-demo-comp> -->

<!-- <H2> 13 ASSIGNEMNT</H2> -->
 <h1>Stepper</h1> 
<!-- <app-stepper></app-stepper> -->
<!-- <h1>Datepicker</h1>  -->
<!-- <app-datepicker></app-datepicker> -->
<!-- <h1>Dialog</h1> -->
<!-- <app-dialog></app-dialog> -->
<!-- <h1>Sorting</h1> -->
<!-- <app-sorting-table></app-sorting-table> -->
<!-- <h2>Chips ( Advance selector)</h2> -->
<!-- <app-chips></app-chips> -->
<!-- <h2>Sidenav</h2> -->
<!-- <app-sidenav></app-sidenav> -->


<!-- <H2> 14 ASSIGNEMNT</H2> -->
<!-- <app-basic-table></app-basic-table> -->
<!-- <app-dynamic-table></app-dynamic-table> -->
<!-- <app-expandable-table></app-expandable-table> -->

<H2> 15 ASSIGNEMNT</H2>
<!-- <app-autocomplete-demo></app-autocomplete-demo>
<app-autocomplete></app-autocomplete> -->
<app-image-list></app-image-list>


