

<!-- <app-change-detect></app-change-detect> -->
<!-- <app-live-news></app-live-news> -->
<br><br>
<!-- <app-add-customer-by-tpl-frm></app-add-customer-by-tpl-frm> -->
<!-- <app-add-customer-by-rct-frm></app-add-customer-by-rct-frm> -->
<!-- <app-registration-form></app-registration-form> -->
<!-- <app-user-listing></app-user-listing> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-my-demo-comp></app-my-demo-comp> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-stepper></app-stepper> -->
<!-- <app-datepicker></app-datepicker> -->
<!-- <app-dialog></app-dialog> -->
<!-- <app-sorting-table></app-sorting-table> -->
<!-- <app-chips></app-chips> -->
<!-- <app-sidenav></app-sidenav> -->
<!-- <app-table-demo></app-table-demo> -->
<app-dynamic-table></app-dynamic-table>
<!-- <app-expandable-table></app-expandable-table> -->
<!-- <app-autocomplete-demo></app-autocomplete-demo> -->
<!-- <app-image-list></app-image-list> -->