table {
    width: 30%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px;
  }
  