

<div class="container mt-4">
    <h2>User Details</h2>
    <p><strong>ID:</strong> {{ user?.id }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <p><strong>First Name:</strong> {{ user?.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user?.last_name }}</p>
  </div> 

<!-- 
<div *ngIf="!errorOccurred">
  <h2>User Details</h2>
  <p>Name: {{ user?.first_name }} {{ user?.last_name }}</p>
  <p>Email: {{ user?.email }}</p>
</div>

<div *ngIf="errorOccurred">
  <p>User not found or an error occurred.</p>
</div> -->

  
<!-- 
   <div class="container mt-4" *ngIf="user">
    <h2>User Details</h2>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
  </div>
  <div class="container mt-4" *ngIf="userNotFound">
    <p>User not found</p>
  </div> -->