
h2 {
    color: #007bff;
  }
  
  mat-dialog-content {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  

  