
.sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 200px;
  }
  
  mat-sidenav-content {
    padding: 16px; 
  }
  
  mat-nav-list a {
    text-decoration: none; 
    color: #333; 
  }
  
  mat-nav-list a:hover {
    background-color:pink; 
  }
  
  mat-icon {
    margin-right: 8px;
  }
  